<div class="container px-5 px-sm-0">

 <% if @book.errors.any? %>
  <h3><%= @book.errors.count %>errors prohibited this obj from being saved:</h3>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <div class="row mt-3">

    <div class="col-md-3">
      <%= render 'users/profile', user: @user %>
      <%= render 'books/post', book: @book_new %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
        <table class="table">
          <tbody>
              <tr>
                <td>
                  <%= link_to user_path(@book.user.id) do %>
                    <%= image_tag @book.user.get_profile_image(100,100) %>
                  <% end %>
                  <br>
                  <%= link_to @book.user.name, user_path(@book.user.id) %>
                </td>
             　　<td>
             　  　<%= link_to book_path(@book.id) do %>
                    <%= @book.title %>
                  <% end %>
                </td>
                <td>
                  <%= @book.body %>
                </td>
                <% if @book.user == current_user %>
                <td>
                  <div>
                    <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success btn-sm" %>
                  </div>
                </td>
                <td>
                  <div>
                    <%= link_to "Destroy", book_path(@book), class: "btn btn-danger btn-sm", method: :delete, "data-confirm" => "本当に消しますか？" %>
                  </div>
                </td>
                <% end %>
             </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>